@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif,'poppins';
}

body {
    position: relative;
    font-family: 'Inter', sans-serif,'poppins';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('BackgroundImg/backgroundimg.jpg') no-repeat;
    background-size: cover;
}

.container{

    position: relative;
    width: 350px;
    height: 250px;
    background: transparent;
    border: 2px solid rgba(228, 185, 185, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
}

h1{
    font-size: 2em;
    color: #0f576d;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputbox{
    position: relative;
    width: 300px;
    margin: 30px 0;
    border-bottom: 2px solid gray;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #5c4a4a;
    pointer-events: none;
    transition: 0.5s;
    font-weight:bolder ;
}

.inputbox input:focus~label,
.inputbox input:valid~label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #656262;
    padding: 0 35px 0 5px;
}

.inputbox .icon{
    position: absolute;
    right: 8px;
    color: #5c4a4a;
    font-size:1.2em ;
    line-height: 57px;
}

#join-btn{
    width: 100%;
    height: 35px;
    background: #e6e1e1;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    font-weight: bolder;
}
#join-btn:hover{
    background-color: rgb(121, 184, 243);
    color: #5c4a4a;
}

 .chatroom-container{
    /* background: #fff; */
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.chatroom-header {
    background-color: rgb(220, 231, 244);
    display: flex;
    height: 50px;
    justify-content: space-between; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
  }

.chatroomIcon {
    /* border: 1px solid black; */
    width: 145px;
    font-size: 24px;
    order: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.userNameForHeader {
    margin-left: 12px;
}
.messages{
    display: flex;
    flex-direction: column;
    height: 86vh;
    border-radius: 5px;
}

.message {
  max-width: 100%; /* Relative to its parent (message-container) */
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
  background-color: #5b68dd;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sent {
    margin: 10px;
    max-width: 650px;
    align-self: flex-end;
}
.chatroom-container #message-input{
    position: relative;
    width: 75%;
    height: 44px;
    background: rgb(224, 224, 224);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1em;
    color: #0a0909;
    padding: 0px 26px 0px 20px;
    margin-left: 153px;
}

.msg-div{
    position: relative;
    display: flex;
    height: 51px;
}
.icoN{
    position: absolute;
    color: #4f87ee;
    font-size: 37px;
    line-height: 55px;
    right: 99px;
}
